<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
  label{
    display:block;
    text-align:justify;
  }
  .header a, .header h1{
    display:inline-block;
    vertical-align:middle;
  }
  .header h1{
    margin-right:400px;
  }
  .box a{
    background-color:silver;
    padding:2px 4px;
    color:black;
  }
  .box{
    display:block;
    border:2px solid black;
    width:500px;
    margin-left:0px;
    padding:20px;
  }
  button{
    background-color:silver;
  }
  a, button{
    vertical-align:top;
  }
</style>

</head>
<body>
  <div class='container header'>
    <h1>Hello {{request.session.first_name}}! Let's edit your wish!</h1>
    <a href="{% url 'logout' %}">Logout</a>
    <div class = 'container box'>
      <form action='update/' method='post'>
        {% csrf_token %}
      <label>
        I wish for: <input type='text' name='item' value = "{{request.session.item}}">
      </label>
      <label>
        Description <input type='text' name='desc' value = "{{request.session.desc}}">
      </label>
      <a href="{% url 'wishes' %}">Cancel</a>
      <button type='submit'>Edit</button>
      </form>
    </div>
  </div>
</body>
</html>
